.container {
  padding: 50px;
  display: flex;
  height: 83vh;
}

.ball {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: linear-gradient(rgba(255, 0, 0, 0.637), #830505);
  position: relative;
}

.ball:hover {
  transition: transform 1.05s ease-in-out;
  cursor: pointer;
}
